body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.rounded {
  border-width: 8px !important;
  border-radius: 10.25rem !important;
}
.border {
  border-width: 8px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.rounded-bottom {
  border-bottom-right-radius: 2.25rem !important;
  border-bottom-left-radius: 2.25rem !important;
}
.rounded-top {
  border-top-right-radius: 2.25rem !important;
  border-top-left-radius: 2.25rem !important;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/static/images/image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#complaintImg{
  background-image: url('/static/images/complaint.jpg');
  border-top-right-radius: 9.75rem !important;
  border-bottom-right-radius: 9.75rem !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
