{% extends 'layout.html' %}
{% block body%}
<header class="masthead">
    <div class="container h-75">
        <div class="row h-100 align-items-center">
            <div class="col-1"></div>
            <div class="col-10 text-center border border-white rounded">
                <h1 class="font-weight text-white titre">Bienvenue sur Contrevenants Montréal</h1>
                <p class="lead text-white titre"> Une petite recherche avant d'aller manger ?</p>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</header>
<main class="container">
    <div class="container-fluid mt-5">
        <div class="row border border-secondary rounded-top pt-3 pb-3">
            <h3 class="col-md-4 mt-3 mb-3 text-dark">Recherche Contrevenants:</h3>
            <div class="input-group mb-3 mt-3 col-md-8">
                <form class="form-inline col-md-12" method="POST">
                    <input class="form-control col-md-12" type="text" placeholder="(Établissement, propiétaire, rue)"
                        aria-label="Search" name="search" id="search">
                </form>

            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 border border-secondary rounded-bottom  pt-3 pb-3">
        <div class="col-md-12 ml-2">
            <h3 class="text-dark">Recherche d'infraction entre deux dates et/ou par nom :</h3>
        </div>
        <form class="form ml-4" method="POST">
            <div class="row mt-4 mb-4">
                <div class="col-md-4 ">
                    <label class="sr-only">Du</label>
                    <input class="col-md-12" type="text" id="du" placeholder="Du (yyyy-mm-dd)">
                    <small class="form-text text-danger" hidden>Mauvais format</small>
                </div>
                <div class="col-md-4 ">
                    <label class="sr-only">Au</label>
                    <input class="col-md-12" type="text" id="au" placeholder="Au (yyyy-mm-dd)">
                    <small class="form-text text-danger" hidden>Mauvais format</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mb-4">
                    <select class="custom-select" id="select_nom">
                        <option selected value="Nom d'établissement">Nom d'établissement</option>
                        {% for nom in liste_nom %}
                        <option value="{{ nom[0] }}">{{ nom[0].title() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-outline-secondary" onclick="ajaxDate()">Rechercher</button>
        </form>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="row" id="target_A5" hidden>
                    <table class="table table-striped" id="table_pagination_A5">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Nb d'infractions</th>
                            </tr>
                        </thead>
                        <tbody id="table_A5">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="row ">
            <div class="col-md-12">
                <div class="row" id="target_A6" hidden>
                    <table class="table table-striped" id="table_pagination_A6">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Ville</th>
                                <th scope="col">Catégorie</th>
                                <th scope="col">Date de jugement</th>
                                <th scope="col">Date d'infraction</th>
                                <th scope="col">Propriétaire</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody id="table_A6">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}