<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Contravenants Montreal</title>

    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/jquery.dataTables.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static',filename='css/starter-template.css') }}" rel="stylesheet">
    {% block script %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Contrevenants Montreal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu nav-item active bg-dark" aria-labelledby="navbarDropdown">
                            <a class="nav-link text-center" href="/">Accueil</a>
                            <a class="nav-link text-center" href="/complaint">Plainte</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body%}
    {% endblock %}
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.slim.min.js')}}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/script.js')}}"></script>
    <script src="{{ url_for('static',filename='js/jquery.dataTables.min.js')}}"></script>
</body>

</html>