{% extends 'layout.html' %}

{% block script %}
<script>
    setTimeout(function () {
        window.location.href = '/';
    },4000);
</script>
{% endblock %}

{% block body%}
<main class="container ml-5"></main>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="ml-5">Accueil</h1>
            <h2 class="ml-5"> Votre recherche ne comporte aucune correspondance. </h2>
            <h3 class="ml-5"> Vous allez être rediriger vers l'Accueil</h3>
        </div>
    </div>
</main>
{% endblock %}