{% extends 'layout.html' %}
{% block body%}

<div class="container border border-secondary rounded mt-5">

    <div class="row">
        <div class="col-lg-8 p-4">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center align-items-center">
                        <h1> Faire une plainte</h1>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="form-group col-6">
                    <label>Nom</label>
                    <input type="text" class="form-control" name="nameComplaint" id="nameComplaint" required>
                    <small class="form-text text-danger" hidden>Requis</small>
                </div>
                <div class="form-group col-6">
                    <label>Prénom</label>
                    <input type="text" class="form-control" name="FirstNameComplaint" id="firstNameComplaint" required>
                    <small class="form-text text-danger" hidden>Requis</small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label>Nom de l'établissment</label>
                    <input type="text" class="form-control" name="etablissment" id="etablissement" required>
                    <small class="form-text text-danger" hidden>Requis</small>
                </div>
                <div class="form-group col-6">
                    <label>Date de la visite</label>
                    <input type="text" class="form-control" name="dateVisit" id="dateVisit" placeholder="yyyy-mm-dd"
                        required>
                    <small class="form-text text-danger" hidden>Requis</small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label>Adresse</label>
                    <input type="text" class="form-control" name="address" id="address" required>
                    <small class="form-text text-danger" hidden>Requis</small>
                </div>
                <div class="form-group col-6">
                    <label>Ville</label>
                    <input type="text" class="form-control" name="town" id="town" required>
                    <small class="form-text text-danger" hidden>Requis</small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label>Description</label>
                    <textarea class="form-control" name="description" id="description" rows="4" required></textarea>
                    <small class="form-text text-danger" hidden>Requis</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row  justify-content-center align-items-center">
                        <button type="button" class="btn btn-outline-secondary btn-lg"
                            onclick="sendComplaint()">Soumettre</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4" id="complaintImg">

        </div>
    </div>



</div>

{% endblock %}