{% extends 'layout.html' %}

{% block body%}
<main class="container">
    <h1>Accueil</h1>
    <div class="container">
        <div class="row">
            <div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Établissement</th>
                            <th>Catégorie</th>
                            <th>Propiétaire</th>
                            <th>Adresse</th>
                            <th>Ville</th>
                            <th>Date infraction</th>
                            <th>Date jugement</th>
                            <th>Montant</th>
                            <th class="w-75">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in result_search %}
                        <tr>
                            <td>{{item[6]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[8]}}</td>
                            <td>{{item[1]}}</td>
                            <td>{{item[9]}}</td>
                            <td>{{item[3]}}</td>
                            <td>{{item[4]}}</td>
                            <td>{{item[7]}}</td>
                            <td>{{item[5]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}